<header id="bulb-header">
    <!-- <app-bulb-header></app-bulb-header> -->
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-5 py-5 h-100 side-left">
      <router-outlet></router-outlet>
      <app-bulb-footer></app-bulb-footer>
    </div>
    <div class="col-lg-7 side-right h-100 d-none d-lg-block" [class.success]="bulbState === 'success'" [class.failure]="bulbState === 'failure'">
      <img class="mx-auto d-block" src="assets/images/bulb-transparent.png" />
      <img class="mx-auto d-block" [@flickeringBulb]='flicker' [src]="bulbStateSrc" />
    </div>
  </div>
</div>