#details {
    label {
        margin-bottom: 0.3rem;
    }
    .form-control-plaintext {
        padding-top: 0.1rem;
    }
    .planet-section {
        min-height: 58px;

        ul.planet-details-list {
            li {
                padding: 4px 8px 4px 0px;
                i {
                    margin-right: 6px;
                    font-size: 14px;
                }
            }
        }
    }
}