<div id="details" class="inner-body mt-3">
  <a class="logo" routerLink="/">
    <div class="display-5">
      <span class="text-light-gray">#Starwars?</span>
    </div>
  </a>
  <div class="content mt-6">
    <div class="row" *ngIf="(person$ | async); let person; else loadingPerson">
      <div class="col-md-3">
        <img src="https://api.adorable.io/avatars/180/abott@adorable.png" alt="adorable" class="rounded-right">
      </div>
      <div class="col-md-9">
        <h1 class="display-4"> {{ person.name }} </h1>
        <p class="lead" *ngIf="(planet$ | async); let planet">Planet: {{ planet.name }}</p>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Skin Color</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.skin_color">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Gender</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.gender">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Mass</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.mass">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Mass</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.mass">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Height</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.height">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="form-control-label">Hair Color</label>
              <input type="text" readonly class="form-control-plaintext h5" [value]="person.hair_color">
            </div>
          </div>
        </div>
        <div class="row my-3" *ngIf="(planet$ | async); let planet">
          <div class="col">
            <div class="card">
              <div class="card-header h3">
                Neighbours
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let occupant of planet.residents">
                  <a href="javascript:;" (click)="gotoDetails(occupant)">
                    <app-resident [url]="occupant"></app-resident>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingPerson>
      <div class="lead my-5">
        <div class="loader">Loading
          <span class="loader-dot">.</span>
          <span class="loader-dot">.</span>
          <span class="loader-dot">.</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>