<div class="inner-footer fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="media">
          <div class="media-body">
            Pawa is the electricity vending platform of Paytron, a product of Silicon Bear © 2017 with its headquaters in Abuja, Nigeria.
            <br/>
            <a routerLink="/issues">Issues</a> |
            <a href="javascript:;">Terms and Conditions</a> |
            <a href="tel:+2347026102610">+234(0)7026102610</a>.
          </div>
          <img class="d-flex ml-3" src="assets/images/logo-icon-color.png" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
</div>