#home {

    .home-title {
        letter-spacing: -2px;
    }

    .search-overlay { 
        background-color: rgba(45, 45, 45, 0.65);
        top: -40px;
        left: 0px;
        right: 0px;
        height: calc(100vh + 40px);
        position: fixed;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.active {
            opacity: 1;
            z-index: 19000;
        }
    }

    .card, .search-bar {
        // border: 1px solid rgba(123, 112, 68, 0.13) !important;
        border: 1px solid rgba(232, 206, 101, 0.55) !important;
    }
    .search-bar {
        background: #fff;
        padding: 8px;
        border-radius: 36px;
        z-index: 19001;

        input {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
            &:-webkit-autofill {
                background: none !important;
            }
        }

        button {
            z-index: 999;
        }

    }
    .filter-bar {
        clear: both;
        min-height: 48px;
        background-color: rgba(247, 247, 247, 0.64);
        border-radius: 5px;
        padding: 8px;

        .filter-body {

            .btn, .dropdown-toggle {
                font-size: 12px;
                letter-spacing: 1.7px;
                background: #a1a1a1;
                line-height: 12px;
                display: inline-block;
                box-sizing: border-box;
                height: 30px;
                border-radius: 15px;
                padding: 9px 15px;
                border: 0;
                margin: 10px 8px 0 0;
                text-decoration: none;
            }
        }
    }

    .card-columns {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(16rem, 1fr));
    }

    .person-box {

        .card {
            &:hover {
                background: #f7f7f7 !important;
                -moz-box-shadow: 0 0 4px #ccc;
		        -webkit-box-shadow: 0 0 4px #ccc;
                box-shadow: 0 0 4px #ccc;
                transform: scale(1.01);
            }
        }
    }

    .pagination {
        .page-item {
            background-color: rgba(247, 247, 247, 0.64);
            padding: 6px;
            border-radius: 58px;
            &.disabled {
                a {
                    background-color: #fdc95085;
                    border: 1px solid #fdb81885;
                }
            }
            a {
                background-color: #fdc950;
                border: 1px solid #fdb818;
                color: #ffffff;
                position: relative;
                display: block;
                width: 52px;
                height: 52px;
                line-height: 1.5;
                border-radius: 36px;
                text-align: center;
                box-shadow: 2px 2px 5px rgba(0,0,0,.1);
                transition: width 0.2s ease-in-out, margin 0.1s ease-in-out;
                padding: 12px;
                white-space: nowrap;
                overflow: hidden;
                i {
                    margin-right: 15px;
                }
                &.previous {
                    & > div {
                        margin-left: 8px;
                    }
                }
                &.next {
                    i {
                        margin-right: 0px;
                        margin-left: 15px;
                    }
                    & > div {
                        margin-left: -48px;
                    }
                }
            }
            &:hover {
                a {
                    width: 140px;
                    &.next {
                        & > div {
                            margin-left: 0px;
                        }
                    }
                    &.previous {
                        & > div {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}