<div id="home">
    <div class="row my-5">
        <div class="col">
            <h1 class="display-6 home-title">Looking for your favourite
                <br/> StarWars character?</h1>
        </div>
        <div class="col-md-auto align-self-end">
            <img src="assets/images/banner-1.png" />
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col">
                <div class="search-overlay" [class.active]="searchOverlay"></div>
                <form class="form mt-0" #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off" novalidate>
                    <div class="form-group">
                        <div class="input-group search-bar" [class.is-invalid]="(person.errors && person.dirty) || (person.errors && person.touched)">
                            <input aria-describedby="personHelp" class="form-control" [class.is-invalid]="(person.errors && person.dirty) || (person.errors && person.touched)"
                                id="person" name="person" placeholder="Search for your starwars character" type="search" [(ngModel)]="model.person"
                                #person="ngModel" (focus)="setSearchOverlayStatus(true)" (focusout)="setSearchOverlayStatus(false)"
                                required/>
                            <button class="btn btn-primary pulsate" type="submit" loadingButton [changeState]="progressEmitter" [disabled]="!form.form.valid || validating">Search</button>
                        </div>
                        <div *ngIf="person.errors && person.touched" class="invalid-feedback">
                            <div [hidden]="!person.errors.required">
                                Type in the name of the character you want to search for.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="filter-bar clearfix my-2">
        <div class="row">
            <div class="col filter-menu">
                <div class="float-left">
                    <a class="btn btn-link" role="button" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter">
                        <i class="fa fa-filter"></i>Filter
                    </a>
                </div>
                <a class="btn btn-link float-right" href="javascript:;" (click)="initPeople()">Clear</a>
            </div>
        </div>
        <div class="row filter-body">
            <div class="col">
                <div class="collapse multi-collapse" id="filter">
                    <div class="btn-group">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Sort
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="ascending">
                                        <label class="form-check-label" for="ascending">
                                            Ascending
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="descending">
                                        <label class="form-check-label" for="descending">
                                            Descending
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Skin Color
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="black">
                                        <label class="form-check-label" for="black">
                                            Black
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="yellow">
                                        <label class="form-check-label" for="yellow">
                                            Yellow
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="blue">
                                        <label class="form-check-label" for="blue">
                                            Blue
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="red">
                                        <label class="form-check-label" for="red">
                                            Red
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Gender
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="male">
                                        <label class="form-check-label" for="male">
                                            Male
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="female">
                                        <label class="form-check-label" for="female">
                                            Female
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Eye Color
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="black">
                                        <label class="form-check-label" for="black">
                                            Black
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="yellow">
                                        <label class="form-check-label" for="yellow">
                                            Yellow
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="blue">
                                        <label class="form-check-label" for="blue">
                                            Blue
                                        </label>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="red">
                                        <label class="form-check-label" for="red">
                                            Red
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" [@flyInOutList]="people.length" *ngIf="(people$ | async); let people else loadingPeople">
        <div class="card-columns my-5">
            <a class="person-box" href="javascript:;" (click)="gotoDetails(person.url)" *ngFor="let person of people.results">
                <div class="card" style="min-width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ person.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> {{ person.height }} Height</h6>
                        <p class="card-text"> {{ person.birth_year }} Birth Year</p>
                    </div>
                </div>
            </a>
            <div class="display-4" *ngIf="people.length === 0">No results for people</div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                {{ itemsCount }} of
                <span>
                    {{people.count}} Total
                </span>
            </div>
            <div class="col">

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" [class.disabled]="!people.previous">
                            <a class="page-link previous" href="javascript:;" tabindex="-1" (click)="loadPage(people.previous)">
                                <div>
                                    <i class="fa fa-arrow-left"></i>
                                    <span class="">Previous</span>
                                </div>
                            </a>
                        </li>
                        <li class="page-item" [class.disabled]="!people.next">
                            <a class="page-link next" href="javascript:;" (click)="loadPage(people.next)">
                                <div>
                                    <span class="">Next</span>
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <ng-template #loadingPeople>
        <div class="lead my-5">
            <div class="loader">Loading
                <span class="loader-dot">.</span>
                <span class="loader-dot">.</span>
                <span class="loader-dot">.</span>
            </div>
        </div>
    </ng-template>
</div>